body{
    background-color: #F2FAFB;
    font-family: "Open sans, sans serif";
}
.whole{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 7px;
 margin-left: 38px;
}
.img-listed{
    width: 24px;
    height: 30px;
    padding-left: 6px; 
}
.heaa{
    color:#7E0CF5;
    font-size: 26px;
    font-weight: 500;
    font-family: "Open sans", sans-serif;
}
.custo{
    width: 100px;
    height: 38px;
    display: flex;
    flex-direction: row;
    padding-right: 0px;
    margin-right: 1px;   
}
.border{
    border-bottom: 1.9px solid;
    border-color:#DDDDDD;
    inline-size: 1184px;
    margin-left: 36px;
    padding-top: 9px;  
}
.whiteboard {
    background-color: white;
    width: 1240px; /* Adjust width as needed */
    height: 560px; /* Adjust height as needed */
    margin: 7px;
    border-radius: 23px 23px 23px 23px;
  }
.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;  /* Center vertically */
  }